/* requestForm.module.css */

.formContainer {
  width: 100%;
}

.Title {
  color: #2b3340;
  font-feature-settings: "ss03" on, "liga" off;
  font-family: Montserrat-Bold;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: 0.12px;
  text-align: center !important;
  display: block;
}

.formContentInput {
  margin: 20px 0px;
}

.inputLabelContainer {
  margin-bottom: 20px;
}

.inputForm {
  width: 100%;
  padding: 12px 16px;
  gap: 6px;
  border-radius: 10px;
  border: 1px solid var(--border-border-dark, #ced1d9);
  background: var(--primary-primary-white, #fff);
  color: #555963;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.12px;
  max-height: 46px;
}

.smallText {
  font-size: 12px;
  margin-left: 10px;
  color: #a51f1f;
  font-weight: 100;
}

.formFooterText a {
  margin-left: 2px;
  color: #008554;
  font-family: Montserrat-semiBold;
}

.formGroupPositionRelative {
  position: relative;
}

.FormButton {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: stretch;
  border-radius: 10px;
  background: #008554;
  max-width: 360px;
  margin: 0 auto;
  box-shadow: 0px 2px 8px -2px rgba(0, 187, 118, 0.5),
    0px -2px 1px 0px rgba(55, 65, 81, 0.15) inset;
}

.FormButtonText {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.12px;
}
.formFooterText {
  font-size: 14px;
  color: #555963;
  margin-top: 13px;
  line-height: 18px;
  margin: 18px auto;
  display: table;
  text-align: center;
}

.formsplit {
  width: 100%;
}

.formContent {
  width: 100%;
}

.ContectForm {
  display: flex;
  gap: 20px;
}

@media (max-width: 720px) {
  .ContectForm {
    display: block;
  }
}

.formGroup {
  margin-bottom: 16px;
}

.phoneInputWrapper {
  display: flex;
  flex-direction: column;
}

.phoneInput {
  padding: 6px;
  border: 1px solid #ced1d9;
  border-radius: 10px;
  color: #555963;
  font-size: 14px;
}

.phoneInputError {
  border: 1px solid red;
}

.input,
.inputError {
  width: 100%;
  padding: 5px 14px;
  border: 1px solid #ced1d9;
  border-radius: 10px;
  color: #555963;
  font-size: 14px;
}

.errorMsg {
  color: #a51f1f;
  font-size: 12px;
  margin-top: 4px;
}
.selectWrapper {
  margin-bottom: 16px;
}

.select,
.selectError {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced1d9;
  border-radius: 10px;
  color: #555963;
  font-size: 14px;
}

.errorMsg {
  color: #a51f1f;
  font-size: 12px;
  margin-top: 4px;
}
