/* BannerwithImg.module.css */

.bannerSection {
  background: linear-gradient(
    180deg,
    #e5ffed 0%,
    rgba(231, 254, 238, 0.53) 59.4%,
    rgba(252, 252, 252, 0) 100%
  );
}

.bannerContainer {
  position: relative;
  display: flex;
  margin: 0px 108px;
  align-items: center;
}

.imageSection {
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 0px 40px 40px 0px;
  position: absolute;
  right: 0;
  z-index: 1;
  animation: slideIn 2s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.imageCard {
  max-width: 660px;
  height: 530px;
  background: #ebebeb;
  width: 100%;
}

.imageBanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playIconContainer {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.playIconStyle {
  border-radius: 50%;
  background: var(--Light-Text-White, #fff);
  padding: 13px 18px;
}

.playIcon {
  width: 25px;
  height: auto;
}

.contentSection {
  width: 100%;
  height: 560px;
  max-width: 680px;
  max-height: 560px;
  display: flex;
  padding: 52px 56px 56px 56px;
  align-items: center;
  border-radius: 40px;
  background: var(--Light-Text-White, #fff);
  box-shadow: -1px -1px 2px 0px rgba(55, 65, 81, 0.1),
    1px 1px 2px 0px rgba(55, 65, 81, 0.1);
  position: relative;
  z-index: 2;
}
.topSection {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.point1,
.point2 {
  display: flex;
  height: 32px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  opacity: 0.8;
  box-shadow: 0px 2px 4px 0px rgba(55, 65, 81, 0.1);
  text-align: center;
  font-family: Montserrat-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.12px;
}
.point1 {
  background: var(--Light-Text-Green, #008554);
  color: var(--Light-Text-White, #fff);
}
.point2 {
  background: var(--Light-Surface-Success, #f0fdf4);
  color: var(--Light-Text-Green, #008554);
}

.courseHeading {
  color: var(--Light-Text-Primary, #2b3340);
  font-feature-settings: "ss03" on, "liga" off;
  font-family: Montserrat-Bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  letter-spacing: -0.8px;
  margin-bottom: 12px;
}
.courseHeading span {
  font-family: Montserrat-Bold;
  background: linear-gradient(
    115deg,
    #008554 14.58%,
    #03b656 65.1%,
    #85cfa0 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "ss03" on, "liga" off;
}
.contentText {
  color: var(--Light-Text-Secondary, #697386);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.12px;
  margin-bottom: 24px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.brochureIcon {
  width: 24px;
  height: 24px;
}
.brochureBtn,
.enrollButton {
  width: 100%;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  font-family: Montserrat-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.019px;
}

.brochureBtn {
  color: var(--Light-Text-Primary, #2b3340);
  border-radius: 10px;
  border: 1px solid var(--light-divider-borders-green, #008554);
  background: var(--Light-Surface-Success, #f0fdf4);
}
.enrollButton {
  border-radius: 10px;
  background: #008554;
  color: #fff;
  box-shadow: 0px 2px 8px -2px rgba(0, 187, 118, 0.5),
    0px -2px 1px 0px rgba(55, 65, 81, 0.15) inset;
}

/* --------------waves----------- */
.wavesBlock {
  position: absolute;
  width: 100%;
  height: 100%;
}

.waves {
  position: absolute;
  width: 120px;
  height: 120px;
  background: var(--Light-Surface-White, #fff);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  right: -30px;
  bottom: -30px;
  z-index: -1;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}

.wave1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

/* Existing styles above this line */

@media screen and (max-width: 768px) {
  .bannerContainer {
    flex-direction: column-reverse; /* Stack items vertically for smaller screens and reverse their order */
    margin: 0px 20px; /* Adjust margin as needed */
  }

  .imageSection {
    width: 100%;
    border-radius: 0; /* Adjust border-radius as needed */
    position: relative; /* Reset position */
    z-index: 1; /* Set a higher z-index to place it behind the content section */
  }

  .imageCard {
    margin: 0px 16px;
    max-width: none;
    height: auto;
    background: #ebebeb;
    width: 100%;
  }
  .contentSection {
    position: relative;
    top: 0;
    width: 100%;
    max-width: none;
    height: 10%;
    padding: 24px 16px;
    margin-top: -10%; /* Overlap the content section on top of the image section */
    border-radius: 20px; /* Adjust border-radius as needed */
    z-index: 2; /* Set a lower z-index to place it above the image section */
  }
  .playIconContainer {
    top: 45%;
    left: 50%;
  }
  .playIconStyle {
    border-radius: 50%;
    background: var(--Light-Text-White, #fff);
    padding: 13px 18px;
  }

  .playIcon {
    width: 25px;
    height: auto;
  }
  @keyframes slideIn {
    from {
      transform: translateY(100%); /* Start from left of the container */
    }
    to {
      transform: translateY(0); /* Move to the original position */
    }
  }
}

@media screen and (max-width: 590px) {
  .topSection {
    gap: 8px;
    margin-bottom: 24px;
  }
  .point1,
  .point2 {
    padding: 4px 8px;
    font-size: 10px;
  }

  .courseHeading {
    font-size: 20px;
  }

  .contentText {
    font-size: 14px;
  }

  .buttonsContainer {
    display: block;
  }

  .brochureIcon {
    width: 24px;
    height: 24px;
  }

  .brochureBtn {
    color: var(--Light-Text-Primary, #2b3340);
    border-radius: 10px;
    border: 1px solid var(--light-divider-borders-green, #008554);
    background: var(--Light-Surface-Success, #f0fdf4);
    margin-bottom: 24px;
  }
  .enrollButton {
    border-radius: 10px;
    background: #008554;
    color: #fff;
    box-shadow: 0px 2px 8px -2px rgba(0, 187, 118, 0.5),
      0px -2px 1px 0px rgba(55, 65, 81, 0.15) inset;
  }
}
