/* learnersBenefit.module.css */

.LearnersBenefitContainer {
  text-align: center;
  margin-top: 100px;
  /* Add additional styling for the container if needed */
}

.TopSection {
  text-align: center;
  /* Adjust the top margin as needed */
}

.LearnersBenefitsCardContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  flex-wrap: wrap;
  margin-top: 20px;
}

.LearnersBenefitCard {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 980px;
  border-radius: 20px;
  border: 1px solid #008554;
  background-color: #fff;
  margin: 20px auto; /* Adjust the margin as needed */
}

.LeftSide {
  position: relative;
  padding: 20px 117px 20px 90px;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #ecfaef;
  box-shadow: 0px 2px 4px 0px rgba(3, 120, 71, 0.15) inset;
}

.learnersBenefitCardImg {
  width: 184px;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  /* Add additional styling for the image if needed */
}

.RightSide {
  padding: 36px 40px;
}

.learnersBenefitCardTitle {
  color: #008554;
  text-align: left;
  font-family: Montserrat-Bold;
  font-size: 20px;

  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: 0.12px;
  margin-bottom: 24px;
}

.LearnersBenefitCard ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.LearnersBenefitCard li {
  display: flex;
  margin-bottom: 16px;
  /* Add additional styling for each list item if needed */
}

.tickimg {
  margin-right: 8px; /* Adjust the margin as needed */
  width: 20px;
  height: 20px;
}

.list {
  color: #2b3340;

  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.12px;
  margin-bottom: 0px;
}

.frame {
  position: relative;
}
.frame1 {
  position: absolute;
  right: 40px;
  width: 100px;
  top: 60px;
}

.frame2 {
  position: absolute;
  left: 40px;
  top: 60px;
  width: 100px;
}

/* swiper style */

.swiperStyle {
  --add-bottom: 50px;
  padding-bottom: var(--add-bottom) !important;
  align-items: center;
}

@media (max-width: 1200px) {
  .frame {
    display: none;
  }
  .LearnersBenefitContainer {
    margin: 20px 30px;
  }
}
@media (max-width: 920px) {
  .LearnersBenefitContainer {
    margin: 20px 0px;
  }
  .LearnersBenefitCard {
    display: block;
    background: #ecfaef;
    min-height: 432px;
  }
  .LeftSide {
    padding: 0px;
  }
  .learnersBenefitCardImg {
    display: flex;
    margin: 0 auto;
    padding: 24px 0px;
    width: 119px;
  }
  .LeftSide {
    border-radius: 21px;
  }
  .RightSide {
    padding: 0px 16px 24px 16px;
  }
  .learnersBenefitCardTitle {
    text-align: center;
  }
  .list {
    font-size: 14px;
    text-align: left;
  }
  .tickimg {
    margin-top: 5px;
  }

  .TopSection {
    margin-top: 40px;
  }
}
