.TopSectionDesktap h2 {
  color: var(--Light-Text-Green, #008554);
  font-feature-settings: "ss03" on, "liga" off;
  font-family: Montserrat-Bold;
  font-size: 18px;

  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.12px;
  margin-bottom: 8px;
}

.TopSectionDesktap h3 {
  color: var(--Light-Text-Primary, #2b3340);
  font-feature-settings: "ss03" on, "liga" off;
  font-family: Montserrat-Bold;
  font-size: 30px;

  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.8px;
  margin-bottom: 12px;
}

.leftSection p {
  color: var(--Neutral-80, #616364);

  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.12px;
}

/* OurLocation.module.css */
.locationContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1224px;
  padding-top: 100px;
  margin: 0 auto;
  align-items: center;
  gap: 16px;
}

.leftSection {
  width: 52%;
}

.rightSection {
  width: 48%;
}

.WorldImg {
  width: 100%;
  min-width: 600px;
}

.ContaryShowHoverDetails {
  display: flex;
  position: relative;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 0.01s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.TanzaniaSection .ContaryShowHoverDetails {
  top: -8px !important;
  left: 65px !important;
}
.IndiaSection .ContaryShowHoverDetails {
  top: 22px !important;
  left: 20px !important;
}
.UsaSection .ContaryShowHoverDetails {
  top: 8px !important;
  left: 10px !important;
}
.CroatiaSection .ContaryShowHoverDetails {
  top: -10px !important;
  left: 0px !important;
}
.KenyaSection .ContaryShowHoverDetails {
  top: -6px !important;
  left: 2px !important;
}

.SouthAfricaSection .ContaryShowHoverDetails {
  top: -7px !important;
  left: 0px !important;
}
.UgandaSection .ContaryShowHoverDetails {
  top: 7px !important;
  left: 21px !important;
}
.NigeriaSection .ContaryShowHoverDetails {
  left: 13px;
  top: 18px;
}

.contaryLocation {
  position: relative;
  top: 53px;
  left: 18px;
  display: flex;
  align-items: center;
}

.contaryAdress {
  background-color: #2b3340;
  padding: 8px;
  border-radius: 12px;
  width: 100%;
  max-width: 200px;
  height: 100%;
  margin-top: -50px;
}

.contaryAdress span {
  color: var(--Light-Text-White, #fff);

  font-size: 12px;

  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
}

.contaryAdress h5 {
  color: var(--Light-Text-White, #fff);

  font-size: 10px;

  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}

.locationPin {
  position: relative;
}

.usaLocation,
.KenyaLocation,
.IndiaLocation,
.ugandaLocation,
.southAfricaLocation,
.tanzaniaLocation,
.croatiaLocation,
.nigeriaLocation {
  position: absolute;
  z-index: 1;
}

.usaLocation {
  top: 20px;
  left: 50px;
}
.KenyaLocation {
  top: 97px;
  left: 305px;
}
.IndiaLocation {
  top: 58px;
  left: 350px;
}
.ugandaLocation {
  top: 71px;
  left: 263px;
}
.southAfricaLocation {
  top: 152px;
  left: 75px;
}
.CroatiaSection {
  position: relative;
}

.croatiaLocation {
  top: 28px;
  left: 264px;
}

.UgandaContaryShowHoverDetails .contaryFlag {
  z-index: 99;
  position: absolute;
}

.tanzaniaLocation {
  top: 110px;
  left: 230px;
}

.nigeriaLocation {
  top: 63px;
  left: 30px;
}

.PinLocatioName {
  position: absolute;
  top: 60px;
}

.IndiaContaryLocation {
  flex-direction: column;
  left: 20px;
}
.USAContaryLocation {
  flex-direction: column;
}
.UgandaContaryLocation {
  flex-direction: column;
}

.UgandaContaryShowHoverDetails {
  left: 0px;
}

.CroatiaContaryShowHoverDetails {
  left: 11px;
}
.SouthAfricaContaryLocation {
  flex-direction: column;
  left: 182px;
}
.NigeriaContaryLocation {
  left: 180px;
  top: 78px;
}
.USAContaryLocation .contaryname {
  position: relative;
  top: -5px;
  font-weight: 700;
}

.contaryname {
  color: var(--Light-Text-Primary, #2b3340);

  font-size: 12px;

  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
  margin: 0px 5px;
}
.TopSectionMobile {
  display: none;
}

.viewMore {
  color: #008554;
  font-family: Montserrat-Bold;
  font-size: 14px;

  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.12px;
}

@media only screen and (max-width: 1060px) {
  .locationContainer {
    margin: 100px 20px 0px 20px;
  }
}

@media only screen and (max-width: 1060px) {
  .locationContainer {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding-top: 0px;
  }
  .leftSection {
    width: 100%;
  }
  .rightSection {
    margin-top: 60px;
  }
}

@media screen and (min-width: 921px) and (max-width: 1060px) {
  .locationContainer {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding-top: 0px;
  }
  .rightSection {
    width: 70% !important;
  }
  .locationPin {
    position: relative;
    top: 10px;
    left: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 920px) {
  .locationContainer {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding-top: 0px;
  }
  .rightSection {
    width: 69% !important;
  }
  .locationPin {
    position: relative;
    top: 5px;
  }
  .IndiaLocation {
    top: 57px;
    left: 347px;
  }
  .IndiaContaryLocation {
    flex-direction: column;
    left: 23px;
  }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
  .usaLocation,
  .KenyaLocation,
  .IndiaLocation,
  .ugandaLocation,
  .southAfricaLocation,
  .croatiaLocation,
  .tanzaniaLocation,
  .nigeriaLocation {
    width: 90px !important;
  }
  .IndiaLocation {
    top: 57px;
    left: 325px;
  }
}

@media only screen and (max-width: 500px) {
  .TopSectionDesktap {
    display: none;
  }
  .TopSectionMobile {
    display: flex;
    flex-direction: column;
    order: -1;
  }
  .heading {
    color: var(--Primary-Primary---Green, #008554);
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 14px;

    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.12px;
    margin-bottom: 8px;
  }

  .subheading {
    color: var(--Primary-Primary---Charcoal, #131718);
    text-align: center;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 22px;

    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-bottom: 32px;
  }

  .rightSection {
    order: -1;
    margin-top: 0px;
    position: relative;
    left: 10px;
  }
  .leftSection p {
    font-size: 14px;
  }
  .locationContainer {
    margin: 54px 20px 0px 20px;
  }
  .WorldImg {
    width: 100%;
    min-width: 328px;
  }
  .contaryname {
    font-size: 7px;
    text-align: center;
    white-space: nowrap;
    top: 3px;
    position: relative;
  }
  .contaryLocation img {
    width: 10px !important;
  }
  .ContaryShowHoverDetails {
    display: none;
  }
  .usaLocation {
    top: -20px;
    left: 2px;
  }
  .KenyaLocation {
    top: 24px;
    left: 155px;
  }
  .IndiaLocation {
    top: -3px;
    left: 168px;
  }
  .ugandaLocation {
    top: 2px;
    left: 124px;
  }
  .southAfricaLocation {
    top: 56px;
    left: 174px;
    transition: opacity 0.9s ease-in-out;
  }

  .croatiaLocation {
    top: -11px;
    left: 137px;
  }
  .tanzaniaLocation {
    top: 35px;
    left: 152px;
  }

  .nigeriaLocation {
    top: -5px;
    left: 137px;
  }
  .NigeriaContaryLocation {
    left: -28px;
  }
  .SouthAfricaContaryLocation {
    left: -35px;
  }

  .TanzaniaContaryLocation {
    left: -27px !important;
    width: 70px;
  }
  .usaLocation,
  .KenyaLocation,
  .IndiaLocation,
  .ugandaLocation,
  .southAfricaLocation,
  .croatiaLocation,
  .tanzaniaLocation,
  .nigeriaLocation {
    width: 51px !important;
  }

  .USAContaryLocation .contaryname {
    position: relative;
    top: 1px;
  }
}
