.TopSectionDesktap h2 {
  color: var(--Light-Text-Green, #008554);
  font-feature-settings: "ss03" on, "liga" off;
  font-family: Montserrat-Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.12px;
  margin-bottom: 8px;
}

.TopSectionDesktap h3 {
  color: var(--Light-Text-Primary, #2b3340);
  font-feature-settings: "ss03" on, "liga" off;
  font-family: Montserrat-Bold;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.8px;
  margin-bottom: 12px;
}

.leftSection p {
  color: var(--Neutral-80, #616364);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.12px;
}

/* OurLocation.module.css */
.locationContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1224px;
  padding-top: 100px;
  margin: 0 auto;
  align-items: center;
  gap: 16px;
}

.leftSection {
  width: 52%;
}

.rightSection {
  width: 48%;
}

.WorldImg {
  width: 100%;
  min-width: 600px;
}

.ContaryShowHoverDetails {
  display: flex;
  position: relative;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards; /* Use CSS animation to fade in */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contaryLocation {
  position: relative;
  top: 53px;
  left: 18px;
  display: flex;
  align-items: center;
}

.contaryAdress {
  background-color: #2b3340;
  padding: 8px;
  border-radius: 12px;
  width: 100%;
  max-width: 200px;
  height: 100%;
  margin-top: -50px;
}

.contaryAdress span {
  color: var(--Light-Text-White, #fff);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
}

.contaryAdress h5 {
  color: var(--Light-Text-White, #fff);
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}

.locationPin {
  position: relative;
}

.usaLocation,
.KenyaLocation,
.IndiaLocation,
.ugandaLocation,
.southAfricaLocation,
.croatiaLocation,
.tanzaniaLocation,
.nigeriaLocation {
  position: absolute;
  z-index: 1;
}

.usaLocation {
  top: -21px;
  left: 30px;
}
.KenyaLocation {
  top: 80px;
  left: 300px;
}
.IndiaLocation {
  top: 55px;
  left: 365px;
}
.ugandaLocation {
  top: 52px;
  left: 270px;
}
.southAfricaLocation {
  top: 139px;
  left: 75px;
}
.croatiaLocation {
  top: 12px;
  left: 250px;
}
.tanzaniaLocation {
  top: 108px;
  left: 276px;
}

.nigeriaLocation {
  top: 46px;
  left: 26px;
}

.PinLocatioName {
  position: absolute;
  top: 60px;
}

.UgandaContaryShowHoverDetails {
  left: 0px;
}

.CroatiaContaryShowHoverDetails {
  left: 11px;
}
.SouthAfricaContaryLocation {
  flex-direction: column;
  left: 182px;
}
.NigeriaContaryLocation {
  left: 167px;
}

.contaryname {
  color: var(--Light-Text-Primary, #2b3340);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
  margin: 0px 5px;
}
.TopSectionMobile {
  display: none;
}

.viewMore {
  color: #008554;
  font-family: Montserrat-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.12px;
}

@media only screen and (max-width: 1060px) {
  .locationContainer {
    margin: 100px 20px 0px 20px;
  }
}

@media only screen and (max-width: 1060px) {
  .locationContainer {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding-top: 0px;
  }
  .leftSection {
    width: 100%;
  }
  .rightSection {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 500px) {
  .TopSectionDesktap {
    display: none;
  }
  .TopSectionMobile {
    display: flex;
    flex-direction: column;
    order: -1;
  }
  .heading {
    color: var(--Primary-Primary---Green, #008554);
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.12px;
    margin-bottom: 8px;
  }

  .subheading {
    color: var(--Primary-Primary---Charcoal, #131718);
    text-align: center;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-bottom: 32px;
  }

  .rightSection {
    order: -1;
    margin-top: 0px;
  }
  .leftSection p {
    font-size: 14px;
  }
  .locationContainer {
    margin: 54px 20px 0px 20px;
  }
  .WorldImg {
    width: 100%;
    min-width: 328px;
  }
  .contaryname {
    font-size: 7px;
  }
  .contaryLocation img {
    width: 7px;
  }
  .ContaryShowHoverDetails {
    display: none;
  }
  .usaLocation {
    top: -30px;
    left: 9px;
  }
  .KenyaLocation {
    top: 25px;
    left: 155px;
  }
  .IndiaLocation {
    top: 10px;
    left: 193px;
  }
  .ugandaLocation {
    top: 4px;
    left: 134px;
  }
  .southAfricaLocation {
    top: 56px;
    left: 174px;
    transition: opacity 0.9s ease-in-out;
  }

  .croatiaLocation {
    top: -9px;
    left: 141px;
  }
  .tanzaniaLocation {
    top: 38px;
    left: 140px;
  }

  .nigeriaLocation {
    top: 4px;
    left: 124px;
  }
  .NigeriaContaryLocation {
    left: -28px;
  }
  .SouthAfricaContaryLocation {
    left: -28px;
  }
}
