/* aboutUs.module.css */

.aboutUsContainer {
  margin: 100px 108px;
}

.aboutUs {
  display: flex;
  align-items: center;
}

.aboutUsLeft {
  flex: 1;
  width: 100%;
}

.aboutUsImage {
  max-width: 480px;
  max-height: 360px;
}

.aboutUsRight {
  flex: 2;
  text-align: left;
  margin-left: 60px;
}

.aboutTitle {
  color: #008554;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.aboutHeading {
  color: #2b3340;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.8px;
  margin-bottom: 12px;
}

.aboutParagraph {
  color: var(--neutral-80, #616364);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.12px;
  max-height: 168px;
  overflow: visible;
}

.viewMoreButton,
.viewLessButton {
  color: #007bff;
  cursor: pointer;
  margin-left: 8px;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 56px;
}

.card {
  flex: 1;
  text-align: center;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #e3e8ee;
  background: linear-gradient(180deg, #f0fdf4 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 2px 4px 0px rgba(55, 65, 81, 0.1);
}

.cardImg {
  width: 52px;
  height: 52px;
  margin-bottom: 16px;
}

.cardText {
  color: #2b3340;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.12px;
}

.startLearningButton {
  position: relative;
  margin: 64px auto;
  text-align: center;
  padding: 12px 20px;
  border-radius: 7.68px;
  font-family: Montserrat;
  border: 1px solid var(--light-text-surface-primary-green, #008554);
  background: var(--light-text-surface-primary-green, #008554);
  box-shadow: 0px 0.96px 1.92px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  max-width: 280px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.12px;
}

.hedingMobile {
  display: none;
}

.startLearningButton:hover {
  color: var(--primary-primary-charcoal, #131718);
  background-color: #ffffff;
  border: 1px solid var(--primary-primary-charcoal, #131718);
}

.viewMoreButton,
.viewLessButton {
  color: #008554;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.12px;
}
/* Mobile Styles */

@media only screen and (max-width: 920px) {
  .aboutUsLeft {
    flex: 1;
    width: 100%;
    display: contents;
  }

  .aboutUsImage {
    max-width: 300px;
    max-height: 200px;
  }

  .hedingDesktop {
    display: none;
  }

  .hedingMobile {
    display: block;
    text-align: center;
  }

  .aboutUs {
    flex-direction: column;
  }

  .aboutUsRight {
    margin-left: 0;
  }

  .aboutTitle {
    font-size: 16px; /* Adjust size for mobile */
  }

  .aboutHeading {
    font-size: 24px; /* Adjust size for mobile */
  }

  .aboutParagraph {
    font-size: 14px;
    overflow: visible;
    max-height: 300px;
    margin-bottom: 0px;
  }

  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
  }

  .card {
    flex: 1 1 calc(50% - 16px);
  }
  .cardText {
    font-size: 14px;
  }

  .startLearningButton {
    max-width: none;
    margin: 40px auto;
  }
  .cardImg {
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 1230px) {
  .aboutUsContainer {
    margin: 50px 16px;
  }
}
