.uspSectionContainer {
  margin: 36px 20px 0px;
}
.uspSectionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin: 0 auto;
  padding: 24px 40px;
  border-radius: 20px;
  border: 1px solid var(--light-divider-borders-green, #008554);
  background: var(--Light-Text-Surface-White, #fff);
  max-width: 1224px;
}
.uspSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.uspSectionGroup {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 40%;
}

.uspSectionGroup h2 {
  color: var(--Light-Text-Primary, #2b3340);
  text-align: center;
  font-family: Montserrat-bold;
  font-size: 20px;
  letter-spacing: -0.12px;
  margin-bottom: 0px;
}
.uspCard img {
  width: 40px;
  margin-bottom: 12px;
}

.uspGreenText {
  color: #008554;
  text-align: center;
  font-family: Montserrat-Bold;
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.enrollmentContainer {
  display: flex;
  align-items: center;
}
.usp-card img {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}

.CardText {
  color: #2b3340;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.12px;
  font-family: Montserrat !important;
  margin-bottom: 0px;
}
.uspSectionGroupMobile {
  display: none;
}
/* @media (max-width: 920px) {


  .uspCard img {
    width: 24px !important;
  }
  .CardText {
    font-size: 12px;
  }
  .uspSectionGroup {
    display: none !important;
  }
  .uspSection {
    width: 100%;
  }
} */
@media (max-width: 760px) {
  .uspSectionContainer {
    margin: 20px 20px 0px;
  }
  .uspSectionContent {
    padding: 16px 14px;
    border-radius: 12px;
    border: 1px solid var(--light-divider-borders-light, #cbcbcb);
    background: var(--Light-Text-Surface-White, #fff);
  }
  .uspSectionGroupMobile {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-bottom: 24px;
  }
  .uspSectionGroupMobile h2 {
    color: var(--Light-Text-Primary, #2b3340);
    text-align: center;
    font-family: Montserrat-bold;
    font-size: 20px;
    letter-spacing: -0.12px;
    margin-bottom: 0px;
  }
  .uspSectionGroupMobile img {
    width: 24px !important;
    height: 28px !important;
  }

  .uspGreenText {
    margin-right: 0px;
  }
  .uspSectionGroup {
    display: none !important;
  }
  .uspSection {
    width: 100%;
  }
  .CardText {
    font-size: 12px;
    line-height: 12px;
  }
  .uspGreenText {
    font-size: 16px;
  }
}
