.uspSectionContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 24px 0px;
  border: 1px solid transparent;
  box-shadow: 0 4px 2px -2px rgb(0 0 0 / 9%);
  background-color: #fff;
}

.uspCard {
  text-align: center;
}

.uspCard img {
  width: 40px;
  margin-bottom: 12px;
}

.uspEnrollmentCount {
  color: #008554;
  text-align: center;
  font-family: Montserrat-Bold;
  font-size: 14px;

  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.12px;
  margin-right: 5px;
  margin-bottom: 0px;
}
.enrollmentContainer {
  display: flex;
  align-items: center;
}
.usp-card img {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}

.CardText {
  color: #2b3340;
  text-align: center;
  font-size: 14px;

  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.12px;
  font-family: Montserrat !important;
  margin-bottom: 0px;
}
@media (max-width: 920px) {
  /* .uspSectionContainer {
    display: none;
  } */

  .uspCard img {
    width: 24px !important;
  }
  .CardText {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  .uspSectionContainer {
    padding: 16px 0px;
  }
  .uspCard {
    width: 100%;
    max-width: 72px;
  }
  .uspEnrollmentCount {
    margin-right: 0px;
  }
}
