.mobileSlide {
  display: none;
}
.img {
  width: 100%;
}
.formcointent {
  margin: 0 auto;
}
.formContainer {
  position: relative;
  flex: 1;
  padding: 24px;
  border-radius: 16px;
  border: 0.96px solid var(--gray-200, #eaecf0);
  background: var(--White, #fff);
  box-shadow: 0px 2px 2px 0px rgba(55, 65, 81, 0.1);
  margin: 0 20px;
  top: -60px;
  z-index: 1;
}

.desktopSlide {
  margin-top: 80px;
}
@media (max-width: 760px) {
  .mobileSlide {
    display: block;
    margin-top: 80px;
  }
  .desktopSlide {
    display: none;
  }
  .img {
    width: 100%;
  }
  .formContainer {
    text-align: center;
  }
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  background-color: #4d4d4dad;
  list-style-type: none;
  margin-top: 20px;
  padding: 0px;
}

.activeDot {
  background-color: #008554;
  width: 24px;
}

.slickDots.slickThumb {
  display: flex !important;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}
