/* SideMap.module.css */

.Sidemap {
  background: linear-gradient(
    180deg,
    #e5ffed 0%,
    rgba(231, 254, 238, 0.53) 59.4%,
    rgba(252, 252, 252, 0) 100%
  );
  padding-top: 40px;
  margin-top: 76px;
}

.containerCard {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1224px;
  gap: 52px;
}
.containerCard h1 {
  font-family: Montserrat-Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.11px;
  text-align: left;
  margin-bottom: 32px;
}
.container {
  display: flex;
  gap: 52px;
  position: relative;
}
.sidebarContainer {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 320px;
  height: 100%;
  margin-bottom: 50px;
}

.sidebar {
  background-color: #ffffff;
  padding: 40px 0px;
  width: 100%;
  height: 100%;
  max-height: 435px;
  max-width: 320px;
  position: sticky;
  overflow-y: auto;
  top: 0;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px #3741511a;
}

.sidebar::-webkit-scrollbar-track {
  border: 1px solid #ffffff;
  padding: 2px 0;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 50px;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(250, 250, 250, 0.3);
  background-color: #b1b1b195;
}
.addPadding {
  padding-top: 100px;
}

.sidebar div {
  cursor: pointer;
  padding: 16px 20px;
  transition: background-color 0.3s ease;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.11999999731779099px;
  text-align: left;
}

.sidebar div.active {
  background-color: #f0fdf4;
  font-family: Montserrat-Bold;
  border-right: 3px solid #008554;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  max-width: 860px;
  /* ------------ */
  overflow: auto;
  height: 100%;
  max-height: 500px;
  margin-top: 48px;
}

.content::-webkit-scrollbar-track {
  border: 1px solid #ffffff;
  padding: 2px 0;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(250, 250, 250, 0.3);
  background-color: #b1b1b195;
}

.cardArray,
.cardObject {
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}
.cardArray {
  max-width: 254px;
}

.cardObject {
  max-width: 100%;
}

.cardObject ul {
  display: flex;
  flex-wrap: wrap;
}

.cardArray ul li,
.cardObject ul li {
  flex: 1 1 30%;
  height: 100px;
  height: 100%;
  max-height: calc(100vh - 1px);
}

.content h3 {
  margin-bottom: 20px;
  font-family: Montserrat-Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #008554;
}

.content li {
  margin-bottom: 12px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
  text-decoration: none;
  margin-right: 20px;
}
.card a {
  text-decoration: none !important;
}
.card div:hover {
  color: #008554;
}

.content a {
  text-decoration: none;
  color: #333;
}

.content a:hover {
  text-decoration: underline;
}

.Sidemap h1 {
  font-size: 16px;
}
.SidemapMobile {
  display: none;
}
@media (max-width: 768px) {
  .SidemapDesktop {
    display: none;
  }
  .SidemapMobile {
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    gap: 24px;
  }

  .SidemapMobile h2 {
    font-family: Montserrat-Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.11px;
    text-align: left;
    margin-bottom: 20px;
  }
  .Dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .DropdownContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px #3741511a;
    border: 1px solid #e3e8ee;
    width: 100%;
    margin: 10px auto;
    max-width: 320px;
    height: 100%;
    padding: 7px 10px;
    border-radius: 8px;
  }
  .ListMobile {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.11px;
    text-align: left;
    color: #374151;
    margin-bottom: 6px;
  }

  .DropdownList h3 {
    margin-bottom: 10px;
    font-family: Montserrat-Bold;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #008554;
  }
  .ListMobile a {
    font-family: Montserrat;
    color: #374151;
  }
  .DropdownHeaderactive {
    background-color: #f2f4f7;
    border-radius: 8px;
    padding: 5px 10px;
  }

  .DropdownHeader {
    font-family: Montserrat-Bold;
    font-size: 14px;
    color: #374151;

    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.11999999731779099px;
    text-align: left;
  }
  .DropdownList {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
}
