/* StudentReview.module.css */

.cardContainer {
  flex-direction: column;
  align-items: center;
  margin: 100px 108px;
}
.Title {
  color: #008554;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: 0.12px;
}
.heading {
  color: #2b3340;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  letter-spacing: -0.8px;
}
.studentReviewCardContainer {
  display: flex;
  gap: 32px;
}
.studentReviewCard {
  max-width: 386px;
  padding: 40px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  border: 1px solid #008554;
  background: linear-gradient(180deg, #f0fdf4 0%, rgba(255, 255, 255, 0) 100%);
}

.studentReviewSideTag {
  position: absolute;
  top: 4px;
  right: -18px;
  width: 158px;
  height: 80px;
}

.studentReviewCardImg {
  width: 88px;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.starRating {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.starRating img {
  width: 23px;
  height: auto;
  margin: 0 2px;
}

.textContent {
  text-align: center;
  margin-top: 10px;
}

.textContent h3 {
  color: #2b3340;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.12px;
}
.textContent2 {
  color: #2b3340;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.12px;
}

.textContent3 {
  color: #697386;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.12px;
  margin-bottom: 0;
}

/* swiper style */

.swiperStyle {
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 120px;
}
.swiperStyle {
  --add-bottom: 80px;
  padding-bottom: var(--add-bottom);
  align-items: center;
}
.swiperStyle [class^="swiper-button-"] {
  top: calc(50% - var(--add-bottom) / 2);
}

/* Media Query for screens with a maximum width of 768 pixels */
@media (max-width: 920px) {
  .cardContainer {
    margin: 100px 0px;
  }
}
