/* allCoursesSlider.module.css */

.allCoursesSliderContainer {
  /* display: flex; */
  padding-top: 88px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1224px;
  width: 100%;
}

.smallHeading {
  font-size: 18px;
  color: #008554;
  text-align: center;
  font-family: Montserrat-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.12px;
  margin-bottom: 12px;
}

.bigHeading {
  color: #2b3340;
  text-align: center;
  font-family: Montserrat-Bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.8px;
  margin-bottom: 44px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card {
  overflow: hidden;
  text-align: left;
  display: flex;
  margin: 0 auto;
  height: 100%;
  max-width: 386px;
  padding: 24px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  border-radius: 12px;
  border-top: 1px solid #008554;
  background: #f1fdf4;
  box-shadow: 0px 2px 4px 0px rgba(55, 65, 81, 0.1);
  position: relative;
}
.card::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  top: 0;
  height: 80%;
  border-right: 1px solid transparent;
  border-image: linear-gradient(180deg, #008554 0%, rgba(0, 133, 84, 0) 100%);
  border-image-slice: 1 !important;
}
.card::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  top: 0;
  height: 80%;
  border-left: 1px solid transparent;
  border-image: linear-gradient(180deg, #008554 0%, rgba(0, 133, 84, 0) 100%);
  border-image-slice: 1 !important;
}

.cardHeading {
  color: var(--light-text-primary, #2b3340);
  font-family: Montserrat-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12px;
  /* margin-bottom: 24px; */
}

.imgCardContainer {
  position: relative;
}

.cardStarContainer {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px 20px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardStarIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.cardStarText {
  color: #008554;
  font-family: Montserrat-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.12px;
}

.cardImage {
  width: 100%;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
}

.textContainer {
  padding: 0px 8px;
}

.line1,
.line2,
.line3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.boldText {
  color: #2b3340;
  font-family: Montserrat-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.12px;
  margin-right: 5px;
  margin-top: 10px;
}

.normalText {
  color: #2b3340;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.12px;
  margin-top: 10px;
}

.card .buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  transition: background-color 0.3s;
}

.card .learnMoreButton {
  width: 100%;
  color: var(--primary-primary-charcoal, #131718);
  font-family: Montserrat-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.12px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.8s;
  border: 1px solid var(--primary-primary-charcoal, #131718);
  background-color: transparent;
}

.card .enrollNowButton {
  width: 100%;
  color: var(--primary-primary-white, #fff);
  font-family: Montserrat-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.12px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 0.837px solid #008554;
  background: #008554;
  transition: background-color 0.8s;
  box-shadow: 0px 0.803px 1.607px 0px #008554;
}
.card .enrollNowButton:hover {
  color: var(--primary-primary-charcoal, #131718);
  background-color: #ffffff;
  border: 1px solid var(--primary-primary-charcoal, #131718);
}
.card .learnMoreButton:hover {
  background-color: #006b43;
  color: var(--primary-primary-white, #fff);
}
.rocketImg {
  left: 0;
  position: absolute;
  width: 100%;
  margin-top: 8%;
}

/* swiper style */

.swiperStyle {
  --swiper-pagination-color: #008554;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #008554;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 120px;
}
.swiperStyle {
  display: block !important;
  --add-bottom: 74px !important;
  padding-bottom: var(--add-bottom) !important;
  align-items: center !important;
}
.swiperStyle [class^="swiper-button-"] {
  top: calc(50% - var(--add-bottom) / 2);
}

@media (max-width: 720px) {
  .swiperStyle {
    --add-bottom: 54px !important;
    padding-bottom: var(--add-bottom) !important;
    align-items: center;
  }
  .allCoursesSliderContainer {
    padding: 40px 16px 0px 16px;
    background: none !important;
  }
  .card {
    max-width: 328px;
  }
  .rocketImg {
    display: none;
  }
  .cardContainer {
    gap: 30px;
  }
  .smallHeading {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .bigHeading {
    font-size: 24px;
    padding: 0px 20px;
    margin-bottom: 32px;
  }
  .cardHeading {
    font-size: 20px;
  }
  .cardStarContainer {
    padding: 7px 13px;
  }
  .cardStarText {
    font-size: 12px;
  }
  .cardStarIcon {
    width: 16px;
    height: 16px;
  }
  .normalText,
  .boldText {
    font-size: 14px;
  }
  .icon {
    width: 20px;
    height: 20px;
    width: 20px !important;
    height: 20px !important;
  }
}

@media screen and (min-width: 1441px) {
  .rocketImg {
    display: none;
  }
}
