/* TalentedComponent.module.css */
.talentedComponent {
  display: flex;
  background-color: #f3fbf5;
  padding: 52px 0px 52px 108px;
  margin-top: 100px;
  box-shadow: 0px -2px 4px 0px #0085541a inset, 0px 2px 4px 0px #0085541a inset;
}

.leftSection {
  width: 40%;
}

.leftSection h1 {
  color: var(--Light-Text-Green, #008554);

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.12px;
  font-family: Montserrat-Bold;
  margin-bottom: 12px;
}
.leftSection p {
  font-family: Montserrat-Bold;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 44px;
}
.btnStart {
  font-family: Montserrat-Bold;
  background-color: #008554;
  width: 100%;
  max-width: 312px;
  height: auto;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px -2px #00bb7680;
  color: #ffffff;
  font-size: 16px;
}

.rightSection {
  width: 60%;
}

.cardContainer ul {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  align-items: center;
  width: 100%;
}

.card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: var(--Light-Text-White, #fff);
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  max-width: 280px;
  min-width: 246px;
  width: 100%;
  height: 100%;
  min-height: 266px;
  box-shadow: 0px 2px 2px 0px rgba(55, 65, 81, 0.1);
  margin-left: 10px;
  padding-bottom: 12px;
  margin: 0 auto;
}

.bgcolor {
  background: linear-gradient(90deg, #14c584 0%, #09905e 98.37%);

  padding: 50px;
  margin-bottom: 52px;
}

.card img {
  position: absolute;
  top: 12%;
  left: 32%;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.facultyName {
  color: var(--Light-Text-Primary, #2b3340);
  text-align: center;
  font-family: Montserrat-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.019px;
  margin-bottom: 4px;
}

.courseName {
  color: var(--Light-Text-Green, #008554);
  text-align: center;
  font-family: Montserrat-Bold;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.12px;
  padding-bottom: 20px;
  margin: 0px 20px;
  border-bottom: 1px dotted #e3e8ee;
}

.card span {
  color: var(--Light-Text-Secondary, #697386);
  text-align: center;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.12px;
}

.swiperNavigation {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  background-color: #007bff;
  color: #fff;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiperStyle {
  margin-top: 20px;
}
.btnStartMobile {
  display: none;
}

.nextButton,
.prevButton {
  background-color: #2b3340;
  width: 43px;
  border-radius: 50%;
}
.nextButton:after,
.prevButton:after {
  font-size: 16px !important;
  color: #fff;
  font-weight: 600;
}

@media (max-width: 920px) {
  .talentedComponent {
    display: block;
    padding: 20px;
    margin-top: 40px;
  }
  .leftSection {
    width: 100%;
    text-align: center;
  }
  .rightSection {
    width: 100%;
  }

  .leftSection h1 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .leftSection p {
    font-size: 24px;
    margin-bottom: 0px;
    line-height: 30px;
  }
  .btnStart {
    display: none;
  }
  .btnStartMobile {
    display: block;
    font-family: Montserrat-Bold;
    background-color: #008554;
    width: 100%;
    max-width: 312px;
    height: auto;
    padding: 10px 14px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px -2px #00bb7680;
    color: #ffffff;
    font-size: 14px;
    margin: 20px auto;
  }
  .nextButton,
  .prevButton {
    display: none;
  }
  .swiperStyle {
    --swiper-pagination-color: #008554;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #008554;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 120px;
    --swiper-pagination-display: none !important;
  }
  .swiperStyle {
    --add-bottom: 74px !important;
    padding-bottom: var(--add-bottom) !important;
    align-items: center;
  }
  .swiperStyle [class^="swiper-button-"] {
    top: calc(50% - var(--add-bottom) / 2);
  }
}
.swiper-pagination {
  display: none !important;
}

.swiper-pagination-bullets {
  display: none;
}
